label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.section {
  padding: 50px 0;
}

.tools-button {
  width: 200px;
  height: 100px;
  margin: 20px;
}


.tool-card {
  display: block;
  margin-bottom: 30px;
  border: solid 1px grey;
  min-height: 300px;
}

.section-choices {
  margin: 0 20px;
  display: grid;
  
  grid-column-gap: 50px;
  grid-template-columns: 1fr 1fr;
  
}

.tool-card-wrapper-inner {
  margin: 0 20px;
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 1fr 1fr;
}

.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
}

.App {
  display: flex;
}
#newtable input {
  font-size:15px;
}
.column-search-inp1::placeholder {
  color: rgb(175, 175, 175);
}

.global-filter {
  align-items: center;
  display: flex;
  justify-content: center;
}
.global-search-p1 {
  margin-top:15px;
  margin-right: 20px;
  align-self: center;
}
.global-search-inp1 {

}
.display-table {
  overflow: auto;
}
.tool-card-wrapper-array {
  margin-top: 100px;
}
.refresh-button {
  margin-left: 30px;
  border-color: #2e2e2e;
  background-color:#2E2E2E;
}
.refresh-button:hover {
  border-color: #2e2e2e;
  background-color: grey;
}
.tool-card-header {
  font-size: 20px;
  color: white;
  background-color: #2e2e2e;
  padding: 10px 10px 1px 10px;
  
  text-align: center;
}

.create-chart-button {
  height: 50px;
  bottom: 0px;
  margin-top: 45px;
}

form {
  display: inline-block;
}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  width: 650px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.button-section {
  margin: 3%;
  
}
.button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: royalblue;
}

.remove {
  background-color: rgb(192, 53, 53);
}
.remove:hover {
  background-color: rgb(187, 43, 43);
}
.dynamic-api-form {
  margin-top: 50px;
}

.display-table table {
  width: 100%;
}